@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Yatra+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #FFF8E8;
    align-items: center;
    font-size: 25px;
    font-family: "Yatra One", system-ui;
  }
  
  .logo img {
    width: 60px;
    
  }
  .logo span{
    color: rgb(0, 0, 0);
  }
  
  .nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: 'MyCustomFont', sans-serif;
    
  }
  
  .nav ul li {
    list-style: none;
    position: relative;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  .nav a::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #070707;
  }

  .nav a::before {
    height: 0%;
    width: 100%;
    bottom: -15px;
  }
  
  .nav a:hover::before {
    height: 5px;
  }

  @font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/overcame-bold.woff') format('woff'),
         url('fonts/overcame-outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family:'MyFont';
    src: url('fonts/arenq.woff') format('woff');
  }
  