
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.h{
  text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
p {
  text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}
.loader {
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  overflow: hidden;
}
.letter {
    text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: pop 0.5s forwards;
  animation-delay: var(--delay);
}
@keyframes pop {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  50% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(20px);
  }
}
.animate {
  animation: pop 1s forwards infinite;
}
