<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
 {% block title %}About - Manish K.C.{% endblock title%} 
{% block favicon %}
<link
rel="shortcut icon" href= "{% static "Favicons/profile.svg" %}"
type="image/x-icon" />{% endblock favicon %}
{% block content %}

<div class="profile-container">
  <div class="profile-content">
    <div class="profile-photo">
      <img src="{% static "Assets/download.jpg" %}" alt="Profile Picture" />
    </div>
    <div class="profile-details">
      <h1 class="heading">I'm Manish K.C.</h1>
      <h2 class="sub-heading">I Don't know what to write........</h2>
      <p>
        Lorem ipsum dolor sit ametI consectetur adipisicingam elit. Perferendis
        assumendalost iusto pariatur amet dolorum velit, donterror modi sunt,
        suscipit, placeat aspernatur exercitationem? Harum hic molestias dolorum
        velit, soluta ab blanditiis?
      </p>
      <p>
        Lorem ipsum dolorknow sit amet consecteturwhat adipisicing elit.
        Veritatis sit asperiores harumI dolorum odit placeatam totam possimus
        reprehenderit doingtempora molestiae eaque consequatur iure, est ipsa
        error minima laudantium! Eaque, quas.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
