{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/> 
    {% block favicon %}{% endblock favicon %}
    <script src="{% static "js/disable.js"%}" defer></script>
    <script src ="{% static "js/navbar.js" %}" defer></script>
  </head>

  <body>
    <header class="header">
      <div class="logo">
        <a href="{% url "home" %}" style="text-decoration: none; color: black">
          <h1>मनिष.</h1></a
        >
      </div>
      <nav class="nav">
        <ul class="nav-links">
          <li>
            <a href="{% url "about" %}"><h1>About</h1></a>
          </li>
          <li>
            <a href="{% url "portfolio" %}"><h1>Portfolio</h1></a>
          </li>
          <li>
            <a href="{% url "blogs" %}"><h1>Blogs</h1></a>
          </li>
          <li>
            <a href="{% url "contact" %}"><h1>Contact</h1></a>
          </li>
        </ul>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>
    <script>
      const hamburger = document.querySelector(".hamburger");
      const navLinks = document.querySelector(".nav-links");

      hamburger.addEventListener("click", () => {
        navLinks.classList.toggle("active");
      });
    </script>

    {% block content %}{% endblock content %}
  </body>
</html>
