<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
 {% block title %}Home - Manish K.C.{% endblock title%} 
{% block content %}
<section class="hero">
  <div class="hero-text">
    <h1>
      HI, &nbsp;I'M <br />
      <span>Manish KC</span>
    </h1>
    <p>"Carpe Diem"</p>
  </div>
  <div class="hero-image"></div>

  <div class="follow-section" style="z-index: 4">
    <ul class="social-links" style="opacity: 75%">
      <li>
        <a
          href="https://youtu.be/dQw4w9WgXcQ?si=_-vqOGkn0NQlbSJa"
          target="_blank"
        >
          <img src="{% static "icons/instagram.svg" %}" alt="Instagram" /></a
        >
      </li>
      <li>
        <a
          href="https://youtu.be/dQw4w9WgXcQ?si=_-vqOGkn0NQlbSJa"
          target="_blank"
          ><img src="{% static "icons/facebook.svg" %}" alt="Facebook" /></a
        >
      </li>
      <li>
        <a href="https://github.com/ManishKC030" target="_blank"
          ><img src="{% static "icons/github.svg" %}" alt="Github" /></a
        >
      </li>
      <li>
        <a
          href="https://youtu.be/dQw4w9WgXcQ?si=_-vqOGkn0NQlbSJa"
          target="_blank"
          ><img src="{% static "icons/linked.svg" %}" alt="LinkedIn" /></a
        >
      </li>
    </ul>
    <p class="follow-">-----------</p>
    <p class="follow-text">Follow ME</p>
  </div>
</section>
{% endblock content %}
